<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Layouttwo ANY>
<!ATTLIST Layouttwo id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1083" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-08-09T20:05:19" updateDate="2014-08-10T10:23:24" nodeName="HomePage" urlName="homepage" path="-1,1083" isDoc="" nodeType="1051" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <hoursofoperation><![CDATA[<ul>
<li>Monday: CLOSED</li>
<li>Tuesday: 9am - 5pm</li>
<li>Wednesday: 9am - 5pm</li>
<li>Thursday: 9am - 5pm</li>
<li>Friday: 9am - 4pm</li>
<li>Saturday: By Appointment</li>
<li>Sunday: CLOSED</li>
</ul>]]></hoursofoperation>
    <contact><![CDATA[<p>(509) 217-7552</p>
<p><a href="mailto:azure_aesthetics@hotmail.com" target="_top" title="azure_aesthetics@hotmail.com">azure_aesthetics@hotmail.com</a></p>
<p><br />*It's best to call or make an appointment before stopping by on Saturdays, to ensure someone will be available to help you.<br />**If you need an appointment time other than stated above, feel free to ask and we will do our best to accommodate your needs.</p>]]></contact>
    <aboutUs><![CDATA[<p>My goal at Azure is for you to find a skin care technician who is passionate, informed and observant.<br /> I believe that visible skin regeneration needs powerful directed tools that inspire a natural sustainable response that you can continue at home.<br /> It’s my belief beautiful skin doesn't come from overuse or over-sale of products of any kind. I believe in viewing the skin and body as an environment<br /> which we must protect, restore and not harm with artificial chemicals, aggressive acids or artificial colors.<br /> Skin care is problem solving, and one size doesn't fit all, professional skin care is an art and at Azure your skin is our obsession.</p>]]></aboutUs>
    <utilityNav><![CDATA[<ul>
<li>(509) 217-7552</li>
<li>|</li>
<li><a href="mailto:azure_aesthetics@hotmail.com">azure_aesthetics@hotmail.com</a></li>
</ul>]]></utilityNav>
    <Folder id="1100" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2014-08-10T15:38:29" updateDate="2014-08-10T15:38:29" nodeName="SkinAndBody" urlName="skinandbody" path="-1,1083,1100" isDoc="" nodeType="1099" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="0" nodeTypeAlias="Folder">
      <Layouttwo id="1101" parentID="1100" level="3" creatorID="0" sortOrder="0" createDate="2014-08-10T15:39:00" updateDate="2014-08-15T23:16:35" nodeName="Facials" urlName="facials" path="-1,1083,1100,1101" isDoc="" nodeType="1096" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="1097" nodeTypeAlias="Layouttwo">
        <bodycontent><![CDATA[[
  {
    "service": "Professional Skin Analysis",
    "description": "We will take a close up look at your skin and go over any questions. This usually takes about 30 minutes. Complementary with any $45.00 or more service.",
    "price": "$55.00"
  },
  {
    "service": "Steam and Clean Express",
    "description": "Perfect for those in a hurry.  This service includes cleanse, steam, extractions and moisturizer. 30 minutes",
    "price": "$55.00"
  },
  {
    "service": "Luxe Anti-Aging Facial",
    "description": "This treatment includes a double cleansing, steam, extractions deep enzyme  exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF.  Perfect for all skin types. This service is 75 minutes.",
    "price": "$65.00"
  },
  {
    "service": "Rosacea Treatment Facial",
    "description": "This treatment includes a double cleansing, steam, extractions deep enzyme exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF. Perfect for all skin types.",
    "price": "$55.00"
  },
  {
    "service": "Acne Treatment Facial",
    "description": "This acne facial gets your skin clean and clear in a jiffy. Using acne products that are free of parabens, sulfates and irritating acids we deep clean, steam, do extractions, massage on neck, shoulders and arms and decollate, cooling acne mask, eye treatment and treatment serum with SPF. This service is 60 minutes.",
    "price": "$55.00"
  },
  {
    "service": "Skin Brightening Facial",
    "description": "Skin looking a little dull? This facial uses safe and stable forms of vitamins C & A, to exfoliate and revive tired skin. Includes 2x cleanse, steam, massage on face, neck, arm and decollate, hydrating mask, orange glow eye treatment and C-Boost serum with SPF. This service is 60 minutes.",
    "price": "$55.00"
  },
  {
    "service": "Pumpkin Glow Facial",
    "description": "Pumpkin offer antioxidants and enzymes that act like alpha-hydroxy acids. But rather than stripping the skin of unwanted materials, pumpkin enzymes help replenish the skin with nutrients. Pumpkin contains more than 100 beneficial nutrients, antioxidants and Vitamin C as well as Beta-carotene. All this leaves you with fresh, smooth and glowing skin. Great for most skin types. This service is 60 minutes.",
    "price": "$55.00"
  },
  {
    "service": "Teen Clean Facial",
    "description": "An express facial that includes cleansing, steam and extractions, mask and moisturizer. Great for all skin conditions. We will also talk to your teen or tween about the importance of proper skin care habits. A perfect start to great skin care. This service is 45 minutes and includes a starter kit.",
    "price": "$55.00"
  },
  {
    "service": "Moisture Bliss Facial",
    "description": "When soothing hydration is all you need, no chemicals, colors or active products of any kind. Gentle acid free exfoliation, massage on face, neck, decollate and arms, hydrating mask, moisture drops. Excellent for hyper sensitive skin, sunburns, dry and flaking skin. This service is 60 minutes.",
    "price": "$55.00"
  }
]]]></bodycontent>
        <topmessage><![CDATA[<p><span>Each facial begins with a personalized skin analysis and life-style review. Our goal is to reduce stress and to assist in balancing and controlling existing skin conditions and then provide a guide for home and spa care.</span></p>]]></topmessage>
      </Layouttwo>
    </Folder>
  </Homepage>
</root>