<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Layoutthree ANY>
<!ATTLIST Layoutthree id ID #REQUIRED>
<!ELEMENT Layouttwo ANY>
<!ATTLIST Layouttwo id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1083" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-08-09T20:05:19" updateDate="2014-08-17T10:18:24" nodeName="HomePage" urlName="homepage" path="-1,1083" isDoc="" nodeType="1051" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <hoursofoperation><![CDATA[<ul>
<li>Monday: CLOSED</li>
<li>Tuesday: 9am - 5pm</li>
<li>Wednesday: 9am - 5pm</li>
<li>Thursday: 9am - 5pm</li>
<li>Friday: 9am - 4pm</li>
<li>Saturday: By Appointment</li>
<li>Sunday: CLOSED</li>
</ul>]]></hoursofoperation>
    <contact><![CDATA[<p>(509) 217-7552</p>
<p><a href="mailto:azure_aesthetics@hotmail.com" target="_top" title="azure_aesthetics@hotmail.com">azure_aesthetics@hotmail.com</a></p>
<p><br />*It's best to call or make an appointment before stopping by on Saturdays, to ensure someone will be available to help you.<br />**If you need an appointment time other than stated above, feel free to ask and we will do our best to accommodate your needs.</p>]]></contact>
    <aboutUs><![CDATA[<p>My goal at Azure is for you to find a skin care technician who is passionate, informed and observant.<br /> I believe that visible skin regeneration needs powerful directed tools that inspire a natural sustainable response that you can continue at home.<br /> It’s my belief beautiful skin doesn't come from overuse or over-sale of products of any kind. I believe in viewing the skin and body as an environment<br /> which we must protect, restore and not harm with artificial chemicals, aggressive acids or artificial colors.<br /> Skin care is problem solving, and one size doesn't fit all, professional skin care is an art and at Azure your skin is our obsession.</p>]]></aboutUs>
    <utilityNav><![CDATA[<ul>
<li>(509) 217-7552</li>
<li>|</li>
<li><a href="mailto:azure_aesthetics@hotmail.com">azure_aesthetics@hotmail.com</a></li>
</ul>]]></utilityNav>
    <Folder id="1100" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2014-08-10T15:38:29" updateDate="2014-08-10T15:38:29" nodeName="SkinAndBody" urlName="skinandbody" path="-1,1083,1100" isDoc="" nodeType="1099" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="0" nodeTypeAlias="Folder">
      <Layouttwo id="1101" parentID="1100" level="3" creatorID="0" sortOrder="0" createDate="2014-08-10T15:39:00" updateDate="2014-08-17T10:05:53" nodeName="Facials" urlName="facials" path="-1,1083,1100,1101" isDoc="" nodeType="1096" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="1097" nodeTypeAlias="Layouttwo">
        <bodycontent><![CDATA[[
  {
    "service": "Professional Skin Analysis",
    "description": "We will take a close up look at your skin and go over any questions. This usually takes about 30 minutes. Complementary with any $45.00 or more service.",
    "price": "$55.00"
  },
  {
    "service": "Steam and Clean Express",
    "description": "Perfect for those in a hurry.  This service includes cleanse, steam, extractions and moisturizer. 30 minutes",
    "price": "$55.00"
  },
  {
    "service": "Luxe Anti-Aging Facial",
    "description": "This treatment includes a double cleansing, steam, extractions deep enzyme  exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF.  Perfect for all skin types. This service is 75 minutes.",
    "price": "$65.00"
  },
  {
    "service": "Rosacea Treatment Facial",
    "description": "This treatment includes a double cleansing, steam, extractions deep enzyme exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF. Perfect for all skin types.",
    "price": "$55.00"
  },
  {
    "service": "Acne Treatment Facial",
    "description": "This acne facial gets your skin clean and clear in a jiffy. Using acne products that are free of parabens, sulfates and irritating acids we deep clean, steam, do extractions, massage on neck, shoulders and arms and decollate, cooling acne mask, eye treatment and treatment serum with SPF. This service is 60 minutes.",
    "price": "$55.00"
  },
  {
    "service": "Skin Brightening Facial",
    "description": "Skin looking a little dull? This facial uses safe and stable forms of vitamins C & A, to exfoliate and revive tired skin. Includes 2x cleanse, steam, massage on face, neck, arm and decollate, hydrating mask, orange glow eye treatment and C-Boost serum with SPF. This service is 60 minutes.",
    "price": "$55.00"
  },
  {
    "service": "Pumpkin Glow Facial",
    "description": "Pumpkin offer antioxidants and enzymes that act like alpha-hydroxy acids. But rather than stripping the skin of unwanted materials, pumpkin enzymes help replenish the skin with nutrients. Pumpkin contains more than 100 beneficial nutrients, antioxidants and Vitamin C as well as Beta-carotene. All this leaves you with fresh, smooth and glowing skin. Great for most skin types. This service is 60 minutes.",
    "price": "$55.00"
  },
  {
    "service": "Teen Clean Facial",
    "description": "An express facial that includes cleansing, steam and extractions, mask and moisturizer. Great for all skin conditions. We will also talk to your teen or tween about the importance of proper skin care habits. A perfect start to great skin care. This service is 45 minutes and includes a starter kit.",
    "price": "$55.00"
  },
  {
    "service": "Moisture Bliss Facial",
    "description": "When soothing hydration is all you need, no chemicals, colors or active products of any kind. Gentle acid free exfoliation, massage on face, neck, decollate and arms, hydrating mask, moisture drops. Excellent for hyper sensitive skin, sunburns, dry and flaking skin. This service is 60 minutes.",
    "price": "$55.00"
  }
]]]></bodycontent>
        <topmessage><![CDATA[Each facial begins with a personalized skin analysis and life-style review. Our goal is to reduce stress and to assist in balancing and controlling existing skin conditions and then provide a guide for home and spa care.]]></topmessage>
      </Layouttwo>
      <Layouttwo id="1106" parentID="1100" level="3" creatorID="0" sortOrder="1" createDate="2014-08-17T09:39:25" updateDate="2014-08-17T09:41:07" nodeName="Makeup" urlName="makeup" path="-1,1083,1100,1106" isDoc="" nodeType="1096" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="1097" nodeTypeAlias="Layouttwo">
        <bodycontent><![CDATA[[
  {
    "service": "Special Event/Prom",
    "description": "Add lashes for just $3.00.",
    "price": "$25.00"
  },
  {
    "service": "Bridal Makeup",
    "description": "Includes Consultation, Test Appointment and Wedding Day",
    "price": "$65.00"
  },
  {
    "service": "Make Over and Lesson",
    "description": "Learn the best techniques for everyday use and maybe a secret or two for date night. Free with any $50.00 or more purchase of Jane Iredale makeup.",
    "price": "$30.00"
  }
]]]></bodycontent>
      </Layouttwo>
      <Layouttwo id="1107" parentID="1100" level="3" creatorID="0" sortOrder="2" createDate="2014-08-17T09:50:35" updateDate="2014-08-17T10:06:08" nodeName="Body Treatments" urlName="body-treatments" path="-1,1083,1100,1107" isDoc="" nodeType="1096" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="1097" nodeTypeAlias="Layouttwo">
        <bodycontent><![CDATA[[
  {
    "service": "Sugar Scrub",
    "description": "For 30 minutes indulge in a skin smoothing, body hydrating sugar scrub. Using real sugar and natural oils, we exfoliate your whole body, and remove the scrub with warm towels followed by a mini massage as we apply rich body butter. Excellent right before an event, or the day before you get a spray tan. 3 wonderful scents to choose from; mango, vanilla coco bean, brazil nut and pumpkin.",
    "price": "$40.00"
  },
  {
    "service": "Back Treatment",
    "description": "Get you back cleared up and looking great this year with a 45 min back treatment to clear up acne, dry scaly winter skin, sunburn or to bring out a beautiful glow. Take home Acne Mist or Calming Mist with your treatment for an additional $10.00.",
    "price": "$55.00"
  }
]]]></bodycontent>
        <topmessage><![CDATA[The face isn’t the only part of our bodies we reveal to the world. We offer multiple services to shine a little brighter whether it be for an event or a little extra to make yourself feel better.]]></topmessage>
      </Layouttwo>
      <Layoutthree id="1112" parentID="1100" level="3" creatorID="0" sortOrder="3" createDate="2014-08-17T10:37:06" updateDate="2014-08-17T11:28:31" nodeName="Body Bronzing" urlName="body-bronzing" path="-1,1083,1100,1112" isDoc="" nodeType="1109" creatorName="AzureAdmin" writerName="AzureAdmin" writerID="0" template="1108" nodeTypeAlias="Layoutthree">
        <leftpricing><![CDATA[[
  {
    "description": "Single session",
    "price": "$20.00"
  },
  {
    "description": "Package of 3",
    "price": "$55.00"
  },
  {
    "description": "Package of 6",
    "price": "$105.00"
  },
  {
    "description": "Package of 10 Includes Free Sugar Glow",
    "price": "$150.00"
  }
]]]></leftpricing>
        <leftitemslist><![CDATA[<ul>
<li>We have disposable underwear &amp; bras you may choose to use or you may bring your own swimsuit.</li>
               
<li>We recommend not wearing white undergarments the day of your tan, as it may stain some fabrics that first day before you shower.</li>
               
<li>Women may choose to go commando "nude". This is 100% fine.</li>
               
<li>Gentleman MUST wear shorts, boxers, underwear of some kind.</li>
               
<li>Persons under 16 must have a parent present.</li>
               
<li>Anyone under 18 must tan in underwear or a swimsuit unless a parent is present and has signed a release in my presence.</li>
               
<li>We use extraction fans during our tanning sessions to reduce DHA over spray into the air. We also will be selling nose filters for $1 for those who want them, Pregnant women and any person 14 or under MUST use nose filters.</li>
               
<li>We also have a wide assortment of fun tanning stickers!</li>
           </ul>]]></leftitemslist>
        <rightimage>1114</rightimage>
        <lefttoptitle><![CDATA[Pricing]]></lefttoptitle>
        <leftbottomtitle><![CDATA[Before You Tan]]></leftbottomtitle>
        <rightTopTitle><![CDATA[Before and After]]></rightTopTitle>
      </Layoutthree>
    </Folder>
  </Homepage>
</root>