@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	ViewBag.Title = @Umbraco.Field("pageName");
    Layout = "SiteLayout1.cshtml";
}

<div class="layout-two">
    <section id="title">
        <h3>@Umbraco.Field("pageName")</h3>
			
	@Umbraco.Field("topmessage")
       
    </section>

    <section>
        <table>
            <tbody>
                @Umbraco.Field("lineItems")
            </tbody>
        </table>
    </section>

</div>