@model AzureAestheticsCMS.Models.MailingViewModel




@using (Html.BeginUmbracoForm<AzureAestheticsCMS.Controllers.MailingSurfaceController>("FormPost"))
{
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />

}
