@model AzureAestheticsCMS.Models.MailingViewModel


@using (Html.BeginUmbracoForm<AzureAestheticsCMS.Controllers.MailingSurfaceController>("FormPost"))
{
    <div class="form-group">
        @Html.ValidationSummary()
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />

}


@*<form action="MailingSurface" method="post" >



</form>*@